<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Admin Page</title>
  <style>
    table, th, td, tr { border: 1px solid black; border-collapse: collapse; }
    th, td { padding: 10px; }
    a.action { text-decoration: none; cursor: pointer; }
  </style>
</head>
<body>
  <h1>Welcome, admin!</h1>

  {% if users %}
  <table>
    <tr>
      <th>No</th>
      <th>Username</th>
      <th>Phone</th>
      <th>Mail</th>
      <th colspan="2">Action</th>
    </tr>

    {% for user in users %}
    <tr>
      <td>{{ user[0] }}</td>
      <td>{{ user[1] }}</td>
      <td>{{ user[2] }}</td>
      <td>{{ user[3] }}</td>
      <th>
        <a href="" id="done">✅</a>
      </th>
      <th>
        <a href="" id="reject">❌</a>
      </th>
    </tr>
    {% endfor %}
  </table>

  {% endif %}

  <script></script>
</body>
</html>
