{% extends "base.html" %}
{% block title %}
    <title>Reset Password</title>
{% endblock %}
{% block content %}
    <div class="content">
        <form method="post">
            {{ form.hidden_tag() }}
            <h1>Reset Password User</h1>
            <hr>
            <div>
                {{ form.username.label }}
                {{ form.username }}
                {% for err in form.username.errors.items %}
                    <small>{{ err }}</small>
                {% endfor %}
            </div>
            <div>
                {{ form.new_password.label }}
                {{ form.new_password }}
                {% for err in form.new_password.errors.items %}
                    <small>{{ err }}</small>
                {% endfor %}
            </div>
            <div>
                {{ form.confirm_password.label }}
                {{ form.confirm_password }}
                {% for err in form.confirm_password.errors.items %}
                    <small>{{ err }}</small>
                {% endfor %}
            </div>        
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}