{% extends "base.html" %}
{% block title %}
    <title>Reset Password</title>
{% endblock %}
{% block content %}
    <div class="content">
        {% if errors %}
            {% for error in errors %}
                <p style="color: red;">
                    {{ error }}
                </p>
            {% endfor %}
        {% endif %}
        {% if msg %}
                <p style="color: green;">
                    {{ msg }}
                </p>
        {% endif %}
        <form method="post">
            {{ form.hidden_tag() }}
            <h1>Reset Password User</h1>
            <hr>
            <div>
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div>
                {{ form.new_password.label }}
                {{ form.new_password }}
            </div>
            <div>
                {{ form.confirm_password.label }}
                {{ form.confirm_password }}
            </div>        
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}