<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Is it new year?</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        h1 {
            font-size: 100px;
        }
    </style>
</head>
<body>

    <h1 id="newYearText">{{ new_year }}</h1>
    <script>
        /*
        const newYearText = document.getElementById("newYearText");

        const today = new Date();

        if (today.getDay() === 1 && today.getMonth() === 0)
            newYearText.innerHTML = "YES";
        else 
            newYearText.innerHTML = "NO";

        // example var/const/let

        let x = -10;
        let y = 20;

        if (x > 0)
        {
            console.log(x);
        } else 
        {
            let x = 30;
            console.log(x);
        }

        console.log(x);
        */
    
    </script>
    
</body>
</html>