<div class="header">
    <div>Dashboard Realtime</div>
    <div>
        Network <span id="net" class="online">ONLINE</span> |
        Ping <span id="ping">--</span> ms |
        <span id="time"></span>
    </div>
</div>
