<div class="sidebar">
    <div class="menu">Overview</div>
    <div class="menu">Realtime</div>
    <div class="menu">Devices</div>
    <div class="menu">System</div>

    <div class="box">
        Tanks: <%= tankIds.length %><br>
        Active: <%= tankId %>
    </div>

    <div class="box">
        Network: <span id="net2" class="online">ONLINE</span><br>
        Ping: <span id="ping2">--</span>
    </div>

    <div class="box">
        Last Update: <span id="lastUpdate" class="muted">--</span><br>
        Alarm: <span id="alarmLog">None</span>
    </div>
</div>
