<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <style>
        .flashed-messages {
            background-color: lightpink;
            width: 100%;
            min-height: 80px;
            border-radius: 10px;
            border: 1px solid salmon;
        }

        .flashed-messages .error {
            color: red;
        }
        .flashed-messages .success {
            color: green;
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashed-messages">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>